<!DOCTYPE html>
<html>
<head>
  <title>Yourbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
		  	<ul class="nav">
		  		<a href="#" class="navbar-brand"> Mybook</a>
				<li class="active"><%= link_to "All Statuses", statuses_path %></li>
			</ul>
		</div>
	</div>

	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
